<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>Contacto de la página web</h1>
<h2>Nombre: {{fullName}}</h2>
<h2>Email: {{email}}</h2>
<h2>Teléfono: {{phone}}</h2>
<span>Message: {{message}}</span>

<footer>
</footer>

</body>

</html>